/* Nexa Bold */
@font-face {
    font-family: 'Nexa';
    src: url('font/NexaBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Nexa Light */
@font-face {
    font-family: 'Nexa';
    src: url('font/NexaLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Reset alle marges en paddings naar 0 en maakt een box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basis styling voor de body */
body {
    font-family: 'Nexa', sans-serif; /* Nexa lettertype */
    color: #1C3D77;
    background: no-repeat url("../img/distributie_centra\ sunny_socks.png");
    background-size: 100%, auto;
    background-position: center 300px; 
}

/*Title section*/
.title-wrapper {
    display: grid;
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.aboutus-container {
    text-align: left;
    padding-top: 100px;
    margin-right: 200px;
    
}

.aboutus-title {
    font-weight: bold;
    border-top: 5px solid #1d3d70;
    padding-top: 10px;
    display: inline-block;
}

/* Layout for the introductory text */
.intro-container {
    display: grid;
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 10px;
    padding: 40px;
    margin-left: 190px;
    width: 20%;
}

/*Styling for the headings within the introduction container*/
.intro-text > h2 {
    display: grid;
    text-align: center;
    display: inline-block;
}

/*Styling for the paragraphs within the introduction container*/
.intro-text > p {
    display: grid;
    text-align: center;
}

/*Main layout*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
    width: 75%;
    margin-top: 400px;
    padding-top: 150px;
    padding-bottom: 100px;
}

/*Styling for the horizontal line across the page*/
.grid-container > hr {
    grid-column: 1 / -1;
    border-style: solid;
    border-color: #FECD3E;
    margin: auto;
    width: 75%;
    margin-top: 100px;
}

/* Styling for images within the grid*/
.grid-container > img {
    border-radius: 10px;
    margin-top: 100px;
    outline: 4px solid #1C3D77;
    justify-self: center;
    text-align: center; /* Ensures text content is centered as well */
}

/*Items within grid, specifically styling the headings*/
.grid-item > h2 {
    display: grid;
    padding-bottom: 50px;
    padding-top: 100px;
    text-align: center;
}

/* Items within grid, specifically styling the paragraphs*/
.grid-item > p {
    text-align: center;
    max-width: 50%; 
    margin: 0 auto;
}

