/* Nexa Bold */
@font-face {
    font-family: 'Nexa';
    src: url('font/NexaBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    color: #1E407A;
}

/* Nexa Light */
@font-face {
    font-family: 'Nexa';
    src: url('font/NexaLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    color: #1E407A;
}